<div class="container">
    <div class="row mt-5 pt-5"></div>
    <div class="d-flex align-items-center justify-content-center m-4">
        <strong>本当に退会しますか？</strong>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <p class="text-center">
            退会すると、会員登録情報や</br>
            これまでの購入履歴が閲覧できなくなります。</br>
            退会する場合は、「退会する」をクリックしてください。
        </p>
    </div>

    <div class=" d-flex align-items-center justify-content-center text-center">
        <span class="m-3"><%= link_to "退会しない", public_mypage_path, class: "btn btn-primary" %></span>
        <span class="m-3"><%= link_to "退会する", public_customers_withdraw_path(@customer),method: :patch, class: "btn btn-danger"  %></span>
    </div>


