<h1>Public::Homes#top</h1>

<!--ジャンル検索＃商品一覧へ飛ぶ-->


<!--画面中央-->
<div>
  <p>
    ようこそ、ながのCAKEへ！</br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    会員でない方も商品の閲覧はできますが、</br>
    購入には会員登録が必要になります。
  </p>
</div>

<!--新着商品、商品名、値段　＃商品詳細へ飛ぶ-->

<!--order(created_at: :desc).-->
<% Item.all.each do |item| %>
<!--<a%= image_tag item.image(100,100) %>-->
<%= item.name %>
<%= item.price %>

<% end %>





